.shape {
  position: absolute;
  box-sizing: border-box;
  border: solid 5px black;
}

.topWhiteRecent {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  height: 10%;
  width: 23%;
  cursor: pointer;

  > span {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
  }

  &:hover {
    > span {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}

.signature {
  background-color: var(--white);
  top: 62%;
  left: 62%;
  height: 13%;
  width: 30%;
  cursor: pointer;
  justify-items: center; // @todo: not working in firefox so signature is not horizontally centered
  align-content: center;
}

.spinner {
  color: #000;
}

.copyright {
  color: var(--black);

  display: flex;
  justify-content: space-between;
  padding: 0 3px;
  background-color: var(--white);
  bottom: 0;
  left: 36%;
  width: 56%;
  height: 4%;
  font-size: 0.7rem;
  align-items: center;
}
