.paginationNumber {
  width: 77px;
  height: 77px;
  border: 2px solid var(--white);
  position: absolute;
  top: -2px;
  right: -2px;
  text-align: center;
  font-size: 48px;
  line-height: 1.35;
  cursor: pointer;
  user-select: none;

  &--is-black {
    border-left-color: var(--black);
    border-bottom-color: var(--black);
    color: var(--black);
  }

  &--is-three {
    font-size: 40px;
    line-height: 1.45;
  }
}