.thumbnailsFrame {
  --inner-length: 550px;

  width: var(--inner-length);
  height: var(--inner-length);
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid var(--white);
  margin: calc(var(--inner-length) / -2) 0 0 calc(var(--inner-length) / -2);
  background-color: var(--black);
  grid-template-rows: repeat(4, minmax(0, 1fr));

  &__thumbnail {
    display: flex;
    margin: auto;
    width: 70%;
    transition: 0.3s;
    position: relative;

    &:hover {
      width: 100%;
      cursor: pointer;
      z-index: 2;
    }

    &--is-portrait {
      width: 50%;

      &:hover {
        width: 80%;
      }
    }

    img {
      border: 1px solid #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.paginationNumber {
  width: 77px;
  height: 77px;
  border: 2px solid var(--white);
  position: absolute;
  top: -2px;
  right: -2px;
  align-content: center;
  text-align: center;
  font-size: xx-large;
  font-family: revert;
  cursor: pointer;
  user-select: none;

  &--is-black {
    border-left-color: var(--black);
    border-bottom-color: var(--black);
    color: var(--black);
  }
}

.modalButton {
  position: absolute;
  color: #fff;
  top: 4px;
  left: 4px;

  &:hover {
    background-color: unset;
    cursor: pointer;
  }
}