.thumbnailsFrame {
  --inner-length: 550px;

  width: var(--inner-length);
  height: var(--inner-length);
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid var(--white);
  margin: calc(var(--inner-length) / -2) 0 0 calc(var(--inner-length) / -2);
  background-color: var(--black);
  grid-template-rows: repeat(4, minmax(0, 1fr));;

  > img {
    object-fit: contain;
    padding: 20px;
    transition: 0.3s;

    &:hover {
      padding: 0;
      cursor: pointer;
    }
  }
}
