@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --main-square-border: 700px;
  --sidebar-place-width: 250px;

  /* colors */
  --black: #000;
  --white: #EBEBEB;
  --brown: #622f16;
  --yellow: #E5C55E;
  --red: #DC0A0B;
  --purple: #A3307D;
  --green: #267C3F;
  --blue: #1a1e7c;
  --grey: #6F787D;
  --orange: #E67B22;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.main-frame {
  position: relative;
  width: var(--main-square-border);
  height: var(--main-square-border);
  border: 2px solid var(--white);
  margin-left: var(--sidebar-place-width);
  flex-shrink: 0;
  /* margin-top: 100px; // @todo: see what space to apply on top */

  @media (max-width: 1024px) {
    /* margin: 100px auto 0; // @todo: see space to apply on top  */
    margin: 0 auto;
  }

  &--has-no-margin-left {
    margin-left: 0;
  }

  &--black {
    background-color: var(--black);
  }

  &--white {
    background-color: var(--white);
  }

  &--brown {
    background-color: var(--brown);
  }

  &--yellow {
    background-color: var(--yellow);
  }

  &--red {
    background-color: var(--red);
  }

  &--purple {
    background-color: var(--purple);
  }

  &--green {
    background-color: var(--green);
  }

  &--blue {
    background-color: var(--blue);
  }

  &--grey {
    background-color: var(--grey);
  }

  &--orange {
    background-color: var(--orange);
  }

  &--blackwhite {
    background: linear-gradient(to top right, var(--white) 50%, var(--black) 50%),
  }

  &--is-recent {
    background: conic-gradient(from 40deg,
        var(--black),
        var(--brown),
        var(--yellow),
        var(--orange),
        var(--red),
        var(--purple),
        var(--green),
        var(--blue),
        var(--grey),
        var(--white),
        var(--black));
  }
}


aside {
  flex-basis: var(--sidebar-place-width);
  flex-shrink: 0;
}

main {
  flex-shrink: 0;
}