@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --main-square-border: 700px;
  --sidebar-place-width: 250px;

  /* colors */
  --black: #000;
  --white: #EBEBEB;
  --brown: #622f16;
  --yellow: #E5C55E;
  --red: #DC0A0B;
  --purple: #A3307D;
  --green: #267C3F;
  --blue: #1a1e7c;
  --grey: #6F787D;
  --recent: #FF7F50;
  --orange: #E67B22;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
   
  }
}

body {
  color: rgb(var(--foreground-rgb));
  
}

.main-frame {
  position: relative;
  width: var(--main-square-border);
  height: var(--main-square-border);
  border: solid 2px var(--white);
  margin-left: var(--sidebar-place-width);
  /* margin-top: 100px; // @todo: see what space to apply on top */

  @media (max-width: 1024px) {
    /* margin: 100px auto 0; // @todo: see space to apply on top  */
    margin: 0 auto;
  }
}

.main-frame--has-no-margin-left {
  margin-left: 0;
}

aside {
  flex-basis: var(--sidebar-place-width);
}