.thumbnailsFrame {
  --inner-length: 550px;
  --border-size: 25px;

  position: relative;
  
  &__page {
    width: var(--inner-length);
    border-left: var(--border-size) solid var(--red);
    border-right: var(--border-size) solid var(--red);
    grid-template-rows: repeat(4, minmax(0, 1fr));
    box-sizing: content-box;

    &--has-border-bottom {
      border-bottom: var(--border-size) solid var(--red);
    }
  }

  &__title {
    max-width: 600px;
  }

  &__thumbnail {
    object-fit: contain;
    padding: 20px;
    contain: strict;
}

  &__pageSeparator {
    position: absolute;
    top: 562px;
  }
  
  &__pageTitle {
    text-align: center;
    font-weight: bold;
    width: 100%;
    background-color: var(--red);
  }

  &__bottomSecondPage {
    position: absolute;
    width: 100%;
    border-left: var(--border-size) solid var(--red);
    border-right: var(--border-size) solid var(--red);
    border-bottom: var(--border-size) solid var(--red);
    height: var(--inner-length);
    bottom: -460px;

    &--has-1-line {
      bottom: -440px;
      height: 440px;
    }

    &--has-2-lines {
      bottom: -302.5px;
      height: 302.5px;
    }

    &--has-3-lines {
      bottom: -165px;
      height: 165px;
    }
  }
}
